:root {
  --color-foreground-1: rgb(230, 230, 230);
  --color-background-1: rgb(24, 24, 24);
  --color-background-2: rgb(44, 44, 44);
  --color-accent: rgb(233, 50, 96);
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-foreground-1);
  background-color: var(--color-background-1);
  font-family: "SpaceMono", monospace;
}

body {
  margin: 6rem auto;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

header {
  font-size: 4rem;
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

form > div {
  position: relative;
  display: flex;
}

form > div::before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 4px;
  display: block;
  background-color: var(--color-foreground-1);
  transform: scaleY(0.5);
  transform-origin: center bottom;
  transition: transform ease 100ms;
}

form > div:focus-within::before {
  transform: scaleY(1);
}

form > div > label {
  font-size: 2.5rem;
  font-weight: bold;
}

form > div > label::after {
  content: ":";
}

form > div > div {
  flex-grow: 1;
  padding: 0 1.5rem;
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

form > div > input {
  all: unset;
  flex-grow: 1;
  padding: 0 1.5rem;
  background-color: var(--color-background-2);
  font: 2.5rem "SpaceMono", monospace;
  transition: background-color ease 100ms;
}

form > div > input:valid {
  background-color: var(--color-background-1);
}

form > button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-accent);
  display: grid;
  place-content: center;
  color: var(--color-foreground-1);
  font: bold 2.5rem "SpaceMono", monospace;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

li {
  all: unset;
  background-color: var(--color-background-2);
  padding: 0.5rem 1.5rem;
  display: grid;
  grid-template-columns: 1rem 1fr auto;
  gap: 1rem;
  font-size: 1.5rem;
}

li::before {
  content: "•";
  font-weight: bold;
}

li.boot::before {
  color: rgb(230, 51, 39);
}

li.up::before {
  color: rgb(44, 218, 39);
}

li > .label {
  overflow-x: hidden;
}

li > .kill {
  cursor: pointer;
  color: var(--color-accent);
  text-decoration: underline;
}

p {
  align-self: flex-end;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.radio > input {
  all: unset;
  cursor: pointer;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: var(--color-foreground-1);
  display: grid;
  place-items: center;
}

.radio > input::before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: var(--color-accent);
  transform: scale(0);
  transition: transform ease 50ms;
}

.radio > input:checked:before {
  transform: scale(1);
}

.radio > label {
  cursor: pointer;
}

.round-left {
  border-radius: 100vmax 0 0 100vmax;
}

.subtle {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.5;
}
